<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ploikong Bookstore</title>
    <link href="./css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d65ed2b465.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
    <!-- vue script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.2.0/dist/axios.min.js"></script>
    <script type="text/javascript" src="../js/BookService.js"></script>
    <script type="text/javascript" src="../js/UserService.js"></script>
    <script type="text/javascript" src="../js/OrderService.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
    <!-- <div id="app" class="container"> -->
        <!-- Cart Modal -->
        <!-- <div v-show="showCartModal" class="modal fade" :class="{ show: showCartModal, 'd-block': showCartModal }" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="cartModalLabel">Carts</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeCartModal"></button>
                    </div>
                    <div class="modal-body" v-if="cartStep==1" style="text-align: left;">
                        <div class="position-relative m-4 mb-5">
                            <div class="progress" style="height: 1px;">
                                <div class="progress-bar" role="progressbar" aria-label="Progress" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button>
                            <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">2</button>
                            <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">3</button>
                        </div>
                        <div v-for="(cart, index) in carts" class="mb-5">
                            {{cart.bookName}}
                            <div class="btn-group float-end">
                                <button type="button" @click="minusQty(index)" class="btn btn-outline-primary float-right"><i class="fa-solid fa-minus"></i></button>
                                <input type="button" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btnradio2">{{cart.quantity}}</label>
                                <button type="button" @click="plusQty(index)" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </div>
                        <p v-if="carts.length>0" class="float-end">Total : {{total}}</p>
                        <p v-if="carts.length==0" style="text-align: center;">Cart is empty</p>
                    </div>
                    <div class="modal-body" v-if="cartStep==2" style="text-align: left;">
                        <div class="position-relative m-4 mb-5">
                            <div class="progress" style="height: 1px;">
                                <div class="progress-bar" role="progressbar" aria-label="Progress" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button>
                            <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;" disabled>2</button>
                            <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;" disabled>3</button>
                        </div>
                        <div class="mb-5">
                            Address
                        </div>
                    </div>
                    <div class="modal-footer" v-if="cartStep==1">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="cartStep++" v-if="carts.length>0">Next</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeCartModal">Cancel</button>
                    </div>
                    <div class="modal-footer" v-if="cartStep>1">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="cartStep++">Next</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="cartStep--">Back</button>
                    </div>
                </div>
            </div>
        </div>
        <h1>Ploikong Bookstore</h1>
        <div class="position-fixed bottom-0 end-0 me-3 mb-3">
            <button type="button" @click="openCartModal" class="btn btn-outline-secondary position-relative" style="padding: 20px;">
                <i class="fa-solid fa-cart-shopping"></i>
                <span v-if="newBookInCart" class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"><span class="visually-hidden">new book in cart</span></span>
            </button>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" v-for="book in allBooks">
                <div class="card h-100">
                    <div class="card-img-top">
                        <img v-if="book.bookType=='Book'" src="./pics/book.png" style="width: 75px; height: 75px; margin-top: 20px;" alt="Book">
                        <img v-if="book.bookType=='E-Book'" src="./pics/Ebook.png" style="width: 75px; height: 75px; margin-top: 20px;" alt="Book">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{book.bookName}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">({{book.bookQuantity}} left)</h6>
                        <p class="card-text" v-if="book.bookDescription.length>=20">{{book.bookDescription.slice(0, 20)}}...</p>
                        <p class="card-text" v-else>{{book.bookDescription}}</p>
                        <button @click="addToCart(book)" class="btn btn-outline-primary">{{book.bookPrice}}฿ | <i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- </div> -->

    <div id="app" style="margin: 0;">
        <!-- Cart Modal -->
        <div v-show="showCartModal" class="modal fade" :class="{ show: showCartModal, 'd-block': showCartModal }" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="cartModalLabel">My Cart</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeCartModal"></button>
                    </div>
                    <div class="modal-body" v-if="cartStep==1" style="text-align: left;">
                        <div class="position-relative m-4 mb-5">
                            <div class="progress" style="height: 1px;">
                                <div class="progress-bar" role="progressbar" aria-label="Progress" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm rounded-pill" style="width: 2rem; height:2rem; background-color: #e8f6ea; cursor:context-menu">1</button>
                            <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem; cursor:context-menu">2</button>
                            <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem; cursor:context-menu">3</button>
                        </div>
                        <div v-for="(cart, index) in carts" class="mb-5">
                            {{cart.bookName}}
                            <div class="btn-group float-end">
                                <button type="button" @click="minusQty(index)" class="btn btn-outline-success"><i class="fa-solid fa-minus"></i></button>
                                <input type="button" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                <label class="btn btn-outline-success" for="btnradio2">{{cart.quantity}}</label>
                                <button type="button" @click="plusQty(index)" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </div>
                        <p v-if="carts.length>0" class="float-end">Total : {{total}}฿</p>
                        <p v-if="carts.length==0" style="text-align: center;">Cart is empty</p>
                    </div>
                    <div class="modal-body" v-if="cartStep==2" style="text-align: left;">
                        <div class="position-relative m-4 mb-5">
                            <div class="progress" style="height: 1px;">
                                <div class="progress-bar" role="progressbar" aria-label="Progress" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm rounded-pill" style="width: 2rem; height:2rem; background-color: #e8f6ea; cursor:context-menu">1</button>
                            <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm rounded-pill" style="width: 2rem; height:2rem; background-color: #e8f6ea; cursor:context-menu">2</button>
                            <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;cursor:context-menu">3</button>
                        </div>
                        <div class="mb-5">
                            <div class="card h-50 mb-5" v-if="userLogin.address.length>0">
                                <div class="card-header">
                                    Your Address
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        {{userLogin.address}}
                                    </div>
                                </div>
                            </div>
                            <div class="card h-50 mb-5">
                                <div class="form-floating">
                                    <textarea class="form-control" :class="{'is-invalid': addressError}" placeholder="New address here" id="validationTextarea" style="height: 100px" v-model="newAddress" required></textarea>
                                    <div class="invalid-feedback">
                                        Please enter a new address.
                                    </div>
                                    <label for="floatingTextarea2">New Address</label>
                                </div>
                                <button class="btn btn-success" @click="saveNewAddress" v-if="savingAddress==-1">Save new address</button>
                                <button class="btn btn-secondary" v-if="savingAddress==0" disabled>Loading . . .</button>
                                <button class="btn btn-outline-success" v-if="savingAddress==1"><i class="fa-solid fa-check"></i></button>
                                <button class="btn btn-outline-danger" v-if="savingAddress==2"><i class="fa-solid fa-xmark"></i></button>
                            </div>

                            <select class="form-select" v-model="addressType" required>
                                <option value="old" selected>Your Address</option>
                                <option value="new">New Address (without save)</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-body" v-if="cartStep==3" style="text-align: left;">
                        <div class="position-relative m-4 mb-5">
                            <div class="progress" style="height: 1px;">
                                <div class="progress-bar" role="progressbar" aria-label="Progress" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm rounded-pill" style="width: 2rem; height:2rem; background-color: #e8f6ea; cursor:context-menu">1</button>
                            <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm rounded-pill" style="width: 2rem; height:2rem; background-color: #e8f6ea; cursor:context-menu">2</button>
                            <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm rounded-pill" style="width: 2rem; height:2rem; background-color: #e8f6ea; cursor:context-menu">3</button>
                        </div>
                        <div class="mb-5">
                            <div class="card h-50">
                                <div class="card-header">
                                    Confirm your order (Total: {{total}}฿)
                                </div>
                                <div class="card-body">
                                    <div class="card-text" v-for="cart in carts">
                                        {{cart.bookName}}<div class="float-end">x{{cart.quantity}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card h-50 mt-5">
                                <div class="card-header">
                                    Confirm your address
                                </div>
                                <div class="card-body">
                                    <div class="card-text" v-if="addressType=='new'">
                                        {{newAddress}}
                                    </div>
                                    <div class="card-text" v-if="addressType=='old'">
                                        {{userLogin.address}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body" v-if="cartStep==4" style="text-align: left;">
                        Your order was confirmed ! Thank for purchased
                    </div>
                    <div class="modal-footer" v-if="cartStep==1">
                        <button type="button" class="btn" style="background-color:#cce7d0" data-bs-dismiss="modal" @click="cartStep++" v-if="carts.length>0">Next</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeCartModal">Close</button>
                    </div>
                    <div class="modal-footer" v-if="cartStep==2">
                        <button type="button" class="btn" style="background-color:#cce7d0" data-bs-dismiss="modal" @click="checkAddress">Next</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="cartStep--">Back</button>
                    </div>
                    <div class="modal-footer" v-if="cartStep==3">
                        <button type="button" class="btn" style="background-color:#cce7d0" data-bs-dismiss="modal" @click="checkOut">Check Out</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="cartStep--">Back</button>
                    </div>
                    <div class="modal-footer" v-if="cartStep==4">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeCartModal">Back</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Book Detail Modal -->
        <div v-show="showBookDetailModal" class="modal fade" :class="{ show: showBookDetailModal, 'd-block': showBookDetailModal }" id="bookDetailModal" tabindex="-1" aria-labelledby="bookDetailModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="bookDetailModalLabel">{{bookDetail.bookName}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeBookDetailModal"></button>
                    </div>
                    <div class="modal-body" v-if="cartStep==1" style="text-align: left;">
                        <p>Book Description : {{bookDetail.bookDescription}}</p>
                        <p>Book Type : {{bookDetail.bookType}}</p>
                        <p>Book Price : {{bookDetail.bookPrice}}</p>
                        <p>Book Owner : {{bookDetailOwner}}</p>
                    </div>
                    <div class="modal-footer" v-if="cartStep==1">
                        <button type="button" class="btn" style="background-color:#cce7d0" data-bs-dismiss="modal" @click="cartStep++" v-if="carts.length>0">Next</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeBookDetailModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <section id="header" style="position: relative; width: 100%;">
            <a @click="goToHome"><img src="/pics/download.png" class="logo" alt=""  width="200 " height="50"></a>
            <div>
                <ul id="navbar" >
                    <li><a id="homeNav" class="active" @click="goToHome">Home</a></li>
                    <li><a id="shopNav" @click="goToShop" >Shop</a></li>
                    <li v-if="userLogin.role == 'Admin'"><a id="adminNav" href="/views/adminView.html" target="_blank">Admin</a></li>
                    <li><a id="accountNav" href="/views/loginView.html"><i class="fa-regular fa-user"></i></a></li>
                    <li>
                        <a type="button" @click="openCartModal">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span v-if="newBookInCart" class="position-absolute top-0 start-70 translate-middle badge border border-light rounded-circle bg-danger p-1"><span class="visually-hidden">new book in cart</span></span>
                        </a>
                        <!-- <a id="cartNav" href="cart.html"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a> -->
                    </li>
                </ul>
            </div>
        </section>
        <section id="hero">
            <h2>Christmas Sale</h2>
            <h1>Discount all 25% off</h1>
            <button @click="goToShop">Shop Now</button>
            <p></p>
        </section>
        <section id="product1" class="section-p1">
            <h1 v-if="userLogin.role=='User'">Ploikong Bookstore</h1>
            <h1 v-if="userLogin.role=='Admin'">Ploikong Bookstore</h1>
            <h1 v-if="userLogin.role=='Merchant'">Ploikong Bookstore For Merchant</h1>
            <!-- <h2>New Release</h2> -->
            <div class="row row-cols-1 row-cols-md-5 g-5">
                <div class="pro-container col" v-for="book in allBooks">
                    <div class="pro">
                        <img v-if="book.bookType=='Book'" src="./pics/book.png" alt="" @click="openBookDetailModal(book)">
                        <img v-if="book.bookType=='E-Book'" src="./pics/Ebook.png" alt="" @click="openBookDetailModal(book)">
                        <div class="des" @click="openBookDetailModal(book)">
                            <h6 style="font-weight: bold;">{{book.bookName}}</h5>
                            <h5 v-if="book.bookDescription.length>=30">{{book.bookDescription.slice(0,30)}}...</h6>
                            <h5 v-else>{{book.bookDescription}}</h6>
                            <h4>{{book.bookPrice}}฿ ({{book.bookQuantity}} left)</h4>
                        </div>
                        <button class="custom-class" @click="addToCart(book)"><i class="fa-sharp fa-solid fa-cart-shopping" ></i></button>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: "",
                userInfo: "",
                bookName: "",
                bookDesc: "",
                bookType: "E-Book",
                bookQty: 1,
                bookPrice: 0.00,
                checkoutType: "Cash On Delivery",
                ownerId: "",
                bookDetail: {},
                bookDetailOwner: "",
                showAlert: false,
                showAddBookModal : false,
                showCartModal: false,
                showBookDetailModal: false,
                cartStep: 1,
                checkUserInfo: {},
                error: false,
                newBookInCart: false,
                myBooks: [],
                allBooks: [],
                carts: [],
                newBookInfo: {
                    bookName: "",
                    bookDescription: "",
                    bookType: "",
                    bookQuantity: 1,
                    bookPrice: 0,
                    checkOutType: ""
                },
                userLogin: "",
                newAddress: "",
                savingAddress: -1,
                addressType: "old",
                addressError: false,
                checkOutCart: [],
                checkOutInfo: {}
            },
            computed:{
                total(){
                    this.totalPrice = 0
                    for(let i=0; i<this.carts.length; i++){
                        this.totalPrice += (this.carts[i].price*this.carts[i].quantity)
                    }
                    return this.totalPrice
                }
            },
            methods:{
                getRole(){
                    var token = localStorage.getItem("token");
                    if (token == null){
                        alert("Please login first.")
                        localStorage.clear()
                        window.location.href ="/views/loginView.html"
                    }
                    else{
                        token = JSON.parse(token)
                        getUser(token).then((response)=> {
                            getUserById(response.data.id).then(response => {
                                this.userLogin = response.data
                                this.getAllBooks();
                            }).catch(err => {
                                console.log(err)
                                alert("Please login again");
                                localStorage.clear()
                                window.location.href ="/views/loginView.html"
                            })
                        }).catch(err => {
                            console.log(err)
                            alert("Session timeout\nPlease login again");
                            localStorage.clear()
                            window.location.href ="/views/loginView.html"
                        })
                    }
                },
                getMyBooks(){
                    getUserBooks(this.ownerId).then((response)=>{
                        this.myBooks = response.data
                    }).catch((e)=>{
                        alert("You need to login")
                        localStorage.clear()
                        window.location.href = "./views/loginView.html"
                    })
                },
                getAllBooks(){
                    getBooks().then((response)=>{
                        this.allBooks = response.data;
                    })
                },
                plusQty(index){
                    this.carts[index].quantity = this.carts[index].quantity + 1
                },
                checkAddress(){
                    if(this.addressType == 'new' && this.newAddress.length <= 0){
                        this.addressError = true;
                    }else if(this.addressType == 'old' && this.userLogin.address.length <=0){
                        this.addressError = true;
                    }else{
                        this.cartStep++
                    }
                },
                saveNewAddress(){
                    if(this.newAddress.length > 0){
                        this.savingAddress = 0
                        setTimeout(()=>{
                            this.savingAddress = -1
                        }, 5000)
                        this.userLogin.address = this.newAddress
                        this.userInfo = {
                            id:this.userLogin.userId ,
                            username:this.userLogin.username, 
                            email:this.userLogin.email, 
                            address:this.userLogin.address,
                            role:this.userLogin.role, 
                            password : this.userLogin.password
                        }
                        editUser(this.userInfo).then((response)=>{
                            setTimeout(()=>{
                                this.savingAddress = 1
                            }, 3000)
                        }).catch((error)=>{
                            setTimeout(()=>{
                                this.savingAddress = 2
                            }, 3000)
                        });
                    }else{
                        this.addressError = true
                    }
                },
                checkOut(){
                    this.checkOutCart = []
                    this.checkOutInfo = {}
                    for(var i=0; i<this.carts.length;i++){
                        this.checkOutCart.push({
                            bookId: this.carts[i].bookId,
                            orderQuantity: this.carts[i].quantity,
                            bookOwner: this.carts[i].bookOwner
                        })
                    }
                    this.checkOutInfo = {
                        buyer: this.userLogin.userId,
                        bookList_String: JSON.stringify(this.checkOutCart),
                        bookList: this.checkOutCart,
                        total: this.totalPrice,
                        buyerAddress: this.addressType=="old"?this.userLogin.address:this.newAddress,
                    }
                    addNewOrder(this.checkOutInfo).then((response)=>{
                        if(response.data.indexOf("Error:")>=0){
                            alert(response.data)
                            location.reload()
                        }else{
                            this.cartStep++
                        }
                    })
                },
                minusQty(index){
                    if(this.carts[index].quantity-1 == 0){
                        this.carts.splice(index, 1)
                    }else{
                        this.carts[index].quantity = this.carts[index].quantity - 1
                    }
                },
                goToShop(){
                    scrollToShop()
                },
                goToHome(){
                    scrollToHome()
                },
                addToCart(book){
                    var already = false
                    var alreadyInCartId = -1
                    for(var i=0; i<this.carts.length;i++){
                        if(this.carts[i].bookId == book.bookId){
                            already = true
                            alreadyInCartId = i
                        }
                    }
                    if(already){
                        this.carts[alreadyInCartId].quantity = this.carts[alreadyInCartId].quantity+1
                    }else{
                        this.carts.push({
                            "bookId":book.bookId,
                            "bookName":book.bookName,
                            "quantity":1,
                            "price":book.bookPrice,
                            "bookOwner":book.ownerId
                        })
                    }
                    this.newBookInCart = true
                },
                addBook(){
                    this.newBookInfo = {
                        bookName: this.bookName,
                        bookDescription: this.bookDesc,
                        bookType: this.bookType,
                        bookQuantity: parseInt(this.bookQty),
                        bookPrice: parseFloat(this.bookPrice),
                        checkOutType: this.checkoutType,
                        ownerId: this.ownerId
                    }
                    addNewBook(this.newBookInfo).then((response)=>{
                        this.closeAddBookModal()
                        location.reload()
                    })
                },
                openAddBookModal(){
                    this.showAddBookModal = true;
                },
                closeAddBookModal(){
                    this.showAddBookModal = false
                },
                openBookDetailModal(book){
                    getUserById(book.ownerId).then((response)=>{
                        this.bookDetailOwner = response.data.username
                    })
                    this.showBookDetailModal = true
                    this.bookDetail = book
                },
                closeBookDetailModal(){
                    this.showBookDetailModal = false
                    this.bookDetail = {}
                    this.bookDetailOwner = ""
                },
                openCartModal(){
                    this.showCartModal = true;
                    this.newBookInCart = false;
                },
                closeCartModal(){
                    this.showCartModal = false
                    this.cartStep = 1
                    this.addressError = false
                    this.newAddress = ""
                    this.addressType = "old"
                    this.checkOutInfo = {}
                    this.checkOutCart = []
                },
                openAddressModal(){
                    this.showAddressModal = true;
                },
                closeAddressModal(){
                    this.showAddressModal = false
                },
            },
            created() {
                this.getRole();
            }
        })
    </script>
</body>
</html>