<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ploikong Dashboard</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d65ed2b465.js" crossorigin="anonymous"></script>
    <!-- vue script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.2.1/dist/axios.min.js"></script>
    <script type="text/javascript" src="../js/BookService.js"></script>
    <script type="text/javascript" src="../js/UserService.js"></script>
</head>
<body>
    <div class="container" id="app">
        <!-- Modal -->
        <div v-show="showInfoModal" class="modal fade" :class="{ show: showInfoModal, 'd-block': showInfoModal }" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Book Info</h1>
                        <p class="modal-title" style="margin-left:5px; font-size:15px">(id: {{bookInModal.bookId}})</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal"></button>
                    </div>
                    <div class="modal-body" style="text-align:left">
                        <p>Name: {{bookInModal.bookName}}</p>
                        <p>Description: {{bookInModal.bookDescription}}</p>
                        <p>Type: {{bookInModal.bookType}}</p>
                        <p>Quantity: {{bookInModal.bookQuantity}}</p>
                        <p>Price: {{bookInModal.bookPrice}}</p>
                        <p>Checkout Type: {{bookInModal.checkOutType}}</p>
                        <p>Owner ID: {{bookInModal.ownerId}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Info Modal -->
        <div v-show="showUserInfoModal" class="modal fade" :class="{ show: showUserInfoModal, 'd-block': showUserInfoModal }" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">User Info</h1>
                        <p class="modal-title" style="margin-left:5px; font-size:15px">(id: {{userInModal.userId}})</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal"></button>
                    </div>
                    <div class="modal-body" style="text-align:left">
                        <p>Username : {{userInModal.username}}</p>
                        <p>Email : {{userInModal.email}}</p>
                        <p>Address : {{userInModal.address}}</p>
                        <p>Role : {{userInModal.role}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Edit Modal -->
        <div v-show="showEditUserModal" class="modal fade" :class="{ show: showEditUserModal, 'd-block': showEditUserModal }" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User</h1>
                        <p class="modal-title" style="margin-left:5px; font-size:15px">(id: {{eId}})</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal"></button>
                    </div>
                    <div class="modal-body" style="text-align:left">
                        <div class="form-group">
                            <label for="username">Edit Username</label>
                            <input v-model="eUsername" id="username" class="form-control">
                            <label for="email">Edit Email</label>
                            <input v-model="eEmail" id="email" class="form-control">
                            <label for="address">Edit Address</label>
                            <input v-model="eAddress" id="address" class="form-control">
                            <label for="role">Edit Role</label>
                            <input v-model="eRole" id="role" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" @click="save">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Edit Modal -->
        <div v-show="showdeleteUserModal" class="modal fade" :class="{ show: showdeleteUserModal, 'd-block': showdeleteUserModal }" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete User</h1>
                        <p class="modal-title" style="margin-left:5px; font-size:15px">(id: {{eId}})</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal"></button>
                    </div>
                    <div class="modal-body" style="text-align:left">
                        Are you sure?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @click="del">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-center">Books List</h1>
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Checkout Type</th>
                <th>Owner ID</th>
                <th>Action</th>
            </thead>
            <tbody class="table-group-divider">
                <tr v-for="book in books" v-bind:key="book.bookId">
                    <td>{{book.bookId}}</td>
                    <td>{{book.bookName}}</td>
                    <td>{{book.bookType}}</td>
                    <td>{{book.bookQuantity}}</td>
                    <td>{{book.bookPrice}}</td>
                    <td>{{book.checkOutType}}</td>
                    <td>{{book.ownerId}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" style="margin: 5px" data-bs-toggle="modal" data-bs-target="#infoModal" @click="openModal(book)"><i class="fa-solid fa-circle-info"></i></button>
                        <button type="button" class="btn btn-warning" style="margin: 5px"><i class="fa-regular fa-pen-to-square"></i></button>
                        <button type="button" class="btn btn-danger" style="margin: 5px"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <h1 class="text-center">Users List</h1>
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>username</th>
                <th>email</th>
                <th>address</th>
                <th>role</th>
                <th>Action</th>
            </thead>
            <tbody class="table-group-divider">
                <tr v-for="user in users" v-bind:key="user.userId">
                    <td>{{user.userId}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.role}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" style="margin: 5px" data-bs-toggle="modal" data-bs-target="#infoModal" @click="openModalUser(user)"><i class="fa-solid fa-circle-info"></i></button>
                        <button type="button" class="btn btn-warning" style="margin: 5px" data-bs-toggle="modal" data-bs-target="#infoModal" @click="openModalEditUser(user)"><i class="fa-regular fa-pen-to-square"></i></button>
                        <button type="button" class="btn btn-danger" style="margin: 5px" data-bs-toggle="modal" data-bs-target="#infoModal" @click="openModalDeleteUser(user)"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                books : [],
                users : [],
                showInfoModal : false,
                bookInModal : [],
                showUserInfoModal : false,
                userInModal : [],
                eUsername : "",
                eEmail : "",
                eAddress : "",
                eRole : "",
                eId : "",
                showEditUserModal : false,
                userInfo : {id:"" ,username:"", email:"", address:"", role:""},
                showdeleteUserModal : false,
            },
            methods:{
                getAllBooks(){
                    getBooks().then((response)=>{
                        this.books = response.data;
                    })
                },
                getAllUsers(){
                    getUsers().then((response)=>{
                        this.users = response.data;
                    })
                },
                deleteBook(){
                    
                },
                openModal(book){
                    this.showInfoModal = true;
                    this.bookInModal = book;
                },
                openModalUser(user){
                    this.showUserInfoModal = true;
                    this.userInModal = user;
                },
                openModalEditUser(user){
                    this.eUsername = user.username;
                    this.eEmail = user.email;
                    this.eAddress = user.address;
                    this.eRole = user.role;
                    this.showEditUserModal = true;
                    this.eId = user.userId;
                },
                closeModal(){
                    this.showInfoModal = false
                    this.showUserInfoModal = false
                    this.showEditUserModal = false
                    this.showdeleteUserModal = false
                },
                save(){
                    this.userInfo = {id:this.eId ,username:this.eUsername, email:this.eEmail, address:this.eAddress, role:this.eRole}
                    editUser(this.userInfo).then((response)=>{
                        this.showEditUserModal = false
                        this.getAllUsers()
                    }).catch((error)=>{
                        console.log(error)
                        this.showEditUserModal = false
                    });
                },
                openModalDeleteUser(user){
                    this.eId = user.userId;
                    this.showdeleteUserModal = true;
                },
                del(){
                    deleteUser({id : this.eId}).then((response)=>{
                        console.log(response)
                        this.showdeleteUserModal = false
                        this.getAllUsers()
                    }).catch((error)=>{
                        console.log(error)
                        this.showdeleteUserModal = false
                    })
                }
            },
            computed:{
                
            },
            created() {
                this.getAllBooks();
                this.getAllUsers();
            }
        })
    </script>
</body>
</html>