<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ploikong Dashboard</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d65ed2b465.js" crossorigin="anonymous"></script>
    <!-- vue script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.2.1/dist/axios.min.js"></script>
    <script type="text/javascript" src="../js/BookService.js"></script>
    <script type="text/javascript" src="../js/UserService.js"></script>
    <script type="text/javascript" src="../js/OrderService.js"></script>
</head>
<body>
    <div class="container" id="app">
        <!-- Notification Coming Soon-->
        <!-- <div class="position-absolute bottom-0 end-0 me-3">
            <div class="alert alert-primary d-none" role="alert" :class="{'d-block': newbooksAvailable}">
                A simple primary alert—check it out!
            </div>
        </div> -->
        <!-- Book Info Modal -->
        <div v-show="showInfoModal" class="modal fade" :class="{ show: showInfoModal, 'd-block': showInfoModal }" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="infoModalLabel">Book Info</h1>
                        <p class="modal-title" style="margin-left:5px; font-size:15px">(id: {{bookInModal.bookId}})</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeInfoModal"></button>
                    </div>
                    <div class="modal-body" style="text-align:left">
                        <p>Name: {{bookInModal.bookName}}</p>
                        <p>Description: {{bookInModal.bookDescription}}</p>
                        <p>Type: {{bookInModal.bookType}}</p>
                        <p>Quantity: {{bookInModal.bookQuantity}}</p>
                        <p>Price: {{bookInModal.bookPrice}}</p>
                        <p>Checkout Type: {{bookInModal.checkOutType}}</p>
                        <p>Owner ID: {{bookInModal.ownerId}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeInfoModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Info Modal -->
        <div v-show="showUserInfoModal" class="modal fade" :class="{ show: showUserInfoModal, 'd-block': showUserInfoModal }" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">User Info</h1>
                        <p class="modal-title" style="margin-left:5px; font-size:15px">(id: {{userInModal.userId}})</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal"></button>
                    </div>
                    <div class="modal-body" style="text-align:left">
                        <p>Username : {{userInModal.username}}</p>
                        <p>Email : {{userInModal.email}}</p>
                        <p>Address : {{userInModal.address}}</p>
                        <p>Role : {{userInModal.role}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Order Info Modal -->
        <div v-show="showOrderInfoModal" class="modal fade" :class="{ show: showOrderInfoModal, 'd-block': showOrderInfoModal }" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Order Info</h1>
                        <p class="modal-title" style="margin-left:5px; font-size:15px">(id: {{orderInModal.orderId}})</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal"></button>
                    </div>
                    <div class="modal-body" style="text-align:left">
                        <p>Buyer : {{orderInModal.buyer}}</p>
                        <p>Book List : </p>
                            <div class="table-responsive">
                                <table class="table table-hover" style="text-align: center;vertical-align: middle;">
                                    <thead>
                                        <th>Book ID</th>
                                        <th>Quantity</th>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr v-for="bl in orderInModal.bookList" v-bind:key="bl.bookId">
                                            <td>{{bl.bookId}}</td>
                                            <td>{{bl.orderQuantity}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        <p>Total : {{orderInModal.total}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Book Edit Modal -->
        <div v-show="showEditBookModal" class="modal fade" :class="{ show: showEditBookModal, 'd-block': showEditBookModal }" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Book</h1>
                        <p class="modal-title" style="margin-left:5px; font-size:15px">(id: {{eId}})</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal"></button>
                    </div>
                    <div class="modal-body" style="text-align:left">
                        <div class="form-group">
                            <div class="form-floating mb-3">
                                <input v-model="eName" id="name" class="form-control">
                                <label for="name">Edit Book Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input v-model="eDescription" id="description" class="form-control">
                                <label for="description">Edit Description</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input v-model="eType" id="type" class="form-control">
                                <label for="type">Edit Type</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input v-model="eQuantity" id="quantity" class="form-control">
                                <label for="quantity">Edit Quantity</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input v-model="ePrice" id="price" class="form-control">
                                <label for="price">Edit Price</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" v-model="eCheckoutType">
                                    <option value="Cash on Delivery" selected>Cash on Delivery</option>
                                    <option value="Transfer" disabled>Transfer (Coming Soon)</option>
                                </select>
                                <label for="checkoutType">Edit Checkout Type</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input v-model="eOwnerId" id="ownerId" class="form-control">
                                <label for="ownerId">Edit Owner ID</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" @click="saveBook">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Edit Modal -->
        <div v-show="showEditUserModal" class="modal fade" :class="{ show: showEditUserModal, 'd-block': showEditUserModal }" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User</h1>
                        <p class="modal-title" style="margin-left:5px; font-size:15px">(id: {{eId}})</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal"></button>
                    </div>
                    <div class="modal-body" style="text-align:left">
                        <div class="form-group">
                            <div class="form-floating mb-3">
                                <input v-model="eUsername" id="username" class="form-control">
                                <label for="username">Edit Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input v-model="eEmail" id="email" class="form-control">
                                <label for="email">Edit Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input v-model="eAddress" id="address" class="form-control">
                                <label for="address">Edit Address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input v-model="eRole" id="role" class="form-control">
                                <label for="role">Edit Role</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" @click="saveUser">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Delete Modal -->
        <div v-show="showdeleteUserModal" class="modal fade" :class="{ show: showdeleteUserModal, 'd-block': showdeleteUserModal }" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete User</h1>
                        <p class="modal-title" style="margin-left:5px; font-size:15px">(id: {{eId}})</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal"></button>
                    </div>
                    <div class="modal-body" style="text-align:left">
                        Are you sure?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @click="deleteUser">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Book Delete Modal -->
        <div v-show="showdeleteBookModal" class="modal fade" :class="{ show: showdeleteBookModal, 'd-block': showdeleteBookModal }" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Book</h1>
                        <p class="modal-title" style="margin-left:5px; font-size:15px">(id: {{eId}})</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal"></button>
                    </div>
                    <div class="modal-body" style="text-align:left">
                        Are you sure?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @click="deleteBook">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Order Delete Modal -->
        <div v-show="showdeleteOrderModal" class="modal fade" :class="{ show: showdeleteOrderModal, 'd-block': showdeleteOrderModal }" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Order</h1>
                        <p class="modal-title" style="margin-left:5px; font-size:15px">(id: {{eId}})</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal"></button>
                    </div>
                    <div class="modal-body" style="text-align:left">
                        Are you sure?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @click="deleteOrder">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Book Modal -->
        <div v-show="showAddBookModal" class="modal fade" :class="{ show: showAddBookModal, 'd-block': showAddBookModal }" id="addBookModal" tabindex="-1" aria-labelledby="addBookModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addBookModalLabel">Add book</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeAddBookModal"></button>
                    </div>
                    <div class="modal-body" style="text-align:left">
                        <div class="mb-3 row">
                            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputName" placeholder="Book Name" v-model="eName" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputDescription" placeholder="Book Description" v-model="eDescription" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputType" class="col-sm-2 col-form-label">Type</label>
                            <div class="col-sm-10">
                                <select class="form-select" v-model="eType" required>
                                    <option value="E-Book" selected>E-Book</option>
                                    <option value="Book">Book</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
                            <div class="col-sm-10">
                              <input type="number" class="form-control" id="inputQuantity" min="1" value="1" v-model="eQuantity" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
                            <div class="col-sm-10">
                              <input type="number" step="0.01" class="form-control" id="inputPrice" min="0" value="0" v-model="ePrice" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputCheckout" class="col-sm-2 col-form-label">Checkout</label>
                            <div class="col-sm-10">
                                <select class="form-select" v-model="eCheckoutType" required>
                                    <option value="Cash on Delivery" selected>Cash on Delivery</option>
                                    <option value="Transfer" disabled>Transfer (coming soon)</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputDescription" class="col-sm-2 col-form-label">OwnerID</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputDescription" placeholder="Book Owner ID" v-model="eOwnerId" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="addBook">Add</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeAddBookModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-center">Books List <button class="btn btn-secondary circle-btn" data-bs-toggle="modal" data-bs-target="#addBookModal" @click="openAddBookModal"><i class="fa-solid fa-plus"></i></button></h1>
        <div class="table-responsive">
            <table class="table table-hover" style="text-align: center;vertical-align: middle;">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Checkout</th>
                    <th>Owner ID</th>
                    <th>Action</th>
                </thead>
                <tbody class="table-group-divider">
                    <tr v-for="book in books" v-bind:key="book.bookId">
                        <td>{{book.bookId}}</td>
                        <td>{{book.bookName}}</td>
                        <td>{{book.bookType}}</td>
                        <td>{{book.bookQuantity}}</td>
                        <td>{{book.bookPrice}}฿</td>
                        <td>{{book.checkOutType}}</td>
                        <td>{{book.ownerId}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" style="margin: 5px" data-bs-toggle="modal" data-bs-target="#infoModal" @click="openModalInfoBook(book)"><i class="fa-solid fa-circle-info"></i></button>
                            <button type="button" class="btn btn-warning" style="margin: 5px" data-bs-toggle="modal" data-bs-target="#infoModal" @click="openModalEditBook(book)"><i class="fa-regular fa-pen-to-square"></i></button>
                            <button type="button" class="btn btn-danger" style="margin: 5px" data-bs-toggle="modal" data-bs-target="#infoModal" @click="openModalDeleteBook(book)"><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1 class="text-center">Users List</h1>
        <div class="table-responsive">
            <table class="table table-hover" style="text-align: center;vertical-align: middle;">
                <thead>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Role</th>
                    <th>Action</th>
                </thead>
                <tbody class="table-group-divider">
                    <tr v-for="user in users" v-bind:key="user.userId">
                        <td>{{user.userId}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.address}}</td>
                        <td>{{user.role}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" style="margin: 5px" data-bs-toggle="modal" data-bs-target="#infoModal" @click="openModalInfoUser(user)"><i class="fa-solid fa-circle-info"></i></button>
                            <button type="button" class="btn btn-warning" style="margin: 5px" data-bs-toggle="modal" data-bs-target="#infoModal" @click="openModalEditUser(user)"><i class="fa-regular fa-pen-to-square"></i></button>
                            <button type="button" class="btn btn-danger" style="margin: 5px" data-bs-toggle="modal" data-bs-target="#infoModal" @click="openModalDeleteUser(user)"><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1 class="text-center">Orders List</h1>
        <div class="table-responsive">
            <table class="table table-hover" style="text-align: center;vertical-align: middle;">
                <thead>
                    <th>ID</th>
                    <th>Buyer</th>
                    <th>Total</th>
                    <th>Action</th>
                </thead>
                <tbody class="table-group-divider">
                    <tr v-for="order in orders" v-bind:key="order.orderId">
                        <td>{{order.orderId}}</td>
                        <td>{{order.buyer}}</td>
                        <td>{{order.total}}฿</td>
                        <td>
                            <button type="button" class="btn btn-primary" style="margin: 5px" data-bs-toggle="modal" data-bs-target="#infoModal" @click="openModalInfoOrder(order)"><i class="fa-solid fa-circle-info"></i></button>
                            <button type="button" class="btn btn-danger" style="margin: 5px" data-bs-toggle="modal" data-bs-target="#infoModal" @click="openModalDeleteOrder(order)"><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                books : [],
                newbooks : [],
                users : [],
                orders : [],
                newbooksAvailable : false,
                showInfoModal : false,
                showAddBookModal : false,
                bookInModal : [], // book model in Info
                showUserInfoModal : false,
                userInModal : [], // user model in Info
                orderInModal : [], // order model in Info
                eUsername : "",
                eEmail : "",
                eAddress : "",
                eRole : "",
                eId : "",
                eName : "",
                eType : "",
                eQuantity : 0,
                ePrice : 0.00,
                eCheckoutType : "Cash on Delivery",
                eOwnerId : "",
                eDescription : "",
                showEditUserModal : false,
                userInfo : [], // model in Edit
                showdeleteUserModal : false,
                showEditBookModal : false,
                bookInfo : [], // model in Edit
                showdeleteBookModal : false,
                showOrderInfoModal : false,
                showdeleteOrderModal : false,
                newBookInfo: {
                    bookName: "",
                    bookDescription: "",
                    bookType: "",
                    bookQuantity: 1,
                    bookPrice: 0,
                    checkOutType: ""
                },
                userLogin : "",
            },
            methods:{
                getRole(){
                    var token = localStorage.getItem("token");
                    if (token == null){
                        alert("Please login first.")
                        localStorage.clear()
                        window.location.href ="/views/loginView.html"
                    }
                    else{
                        token = JSON.parse(token)
                        getUser(token).then((response)=> {
                            getUserById(response.data.id).then(response => {
                                this.userLogin = response.data
                                if(this.userLogin.role != 'Admin'){
                                    alert("Permission denied")
                                    window.location.href = "/index.html"
                                }
                                else{
                                    this.getAllBooks();
                                    this.getAllUsers();
                                    this.getAllOrders(); 
                                }
                            }).catch(err => {
                                console.log(err)
                                alert("Please login again");
                                localStorage.clear()
                                window.location.href ="/views/loginView.html"
                            })
                        }).catch(err => {
                            console.log(err)
                            alert("Session timeout\nPlease login again");
                            localStorage.clear()
                            window.location.href ="/views/loginView.html"
                        })
                    }
                },
                addBook(){
                    this.newBookInfo = {
                        bookName: this.eName, 
                        bookDescription: this.eDescription, 
                        bookType : this.eType, 
                        bookQuantity: this.eQuantity, 
                        bookPrice: this.ePrice, 
                        checkOutType: this.eCheckoutType, 
                        ownerId: this.eOwnerId
                    }
                    addNewBook(this.newBookInfo).then((response)=>{
                        this.closeAddBookModal()
                        location.reload()
                    })
                    this.eName = ""
                    this.eDescription = ""
                    this.eType = ""
                    this.eQuantity = 1
                    this.ePrice = 0.00
                    this.eCheckoutType = "Cash on Delivery"
                    this.eOwnerId = ""
                },
                getAllBooks(){
                    getBooks().then((response)=>{
                        this.books = response.data;
                    })
                },
                getAllUsers(){
                    getUsers().then((response)=>{
                        this.users = response.data;
                    })
                },
                getAllOrders(){
                    getOrders().then((response)=>{
                        this.orders = response.data;
                    })
                },
                openModalInfoBook(book){
                    this.showInfoModal = true;
                    this.bookInModal = book;
                },
                openModalInfoUser(user){
                    this.showUserInfoModal = true;
                    this.userInModal = user;
                },
                openModalEditBook(book){
                    this.eId = book.bookId
                    this.eName = book.bookName
                    this.eType = book.bookType
                    this.eQuantity = book.bookQuantity
                    this.ePrice = book.bookPrice
                    this.eCheckoutType = book.checkOutType
                    this.eOwnerId = book.ownerId
                    this.eDescription = book.bookDescription
                    this.showEditBookModal = true
                },
                openModalEditUser(user){
                    this.eUsername = user.username;
                    this.eEmail = user.email;
                    this.eAddress = user.address;
                    this.eRole = user.role;
                    this.showEditUserModal = true;
                    this.eId = user.userId;
                    this.ePassword = user.password;
                },
                saveBook(){
                    this.bookInfo = {
                        bookId: this.eId, 
                        bookName: this.eName, 
                        bookDescription: this.eDescription, 
                        bookType : this.eType, 
                        bookQuantity: this.eQuantity, 
                        bookPrice: this.ePrice, 
                        checkOutType: this.eCheckoutType, 
                        ownerId: this.eOwnerId
                    }
                    editBook(this.bookInfo).then((response)=>{
                        this.showEditBookModal = false
                        location.reload()
                    }).catch((error)=>{
                        console.log(error)
                        this.showEditBookModal = false
                    });
                },
                saveUser(){
                    this.userInfo = {id:this.eId ,
                        username:this.eUsername, 
                        email:this.eEmail, 
                        address:this.eAddress, 
                        role:this.eRole, 
                        password : this.ePassword
                    }
                    editUser(this.userInfo).then((response)=>{
                        this.showEditUserModal = false
                        location.reload()
                    }).catch((error)=>{
                        console.log(error)
                        this.showEditUserModal = false
                    });
                },
                openModalDeleteUser(user){
                    this.eId = user.userId;
                    this.showdeleteUserModal = true;
                },
                closeModal(){
                    this.showInfoModal = false
                    this.showUserInfoModal = false
                    this.showEditUserModal = false
                    this.showdeleteUserModal = false
                    this.showEditBookModal = false
                    this.showdeleteBookModal = false
                    this.showOrderInfoModal = false
                    this.showdeleteOrderModal = false

                    this.eName = ""
                    this.eDescription = ""
                    this.eType = ""
                    this.eQuantity = 1
                    this.ePrice = 0.00
                    this.eCheckoutType = "Cash on Delivery"
                    this.eOwnerId = ""
                },
                deleteUser(){
                    deleteUser({id : this.eId}).then((response)=>{
                        console.log(response)
                        this.showdeleteUserModal = false
                        location.reload()
                    }).catch((error)=>{
                        console.log(error)
                        this.showdeleteUserModal = false
                    })
                },
                openModalDeleteBook(book){
                    this.eId = book.bookId;
                    this.showdeleteBookModal = true;
                },
                deleteBook(){
                    deleteBook({id : this.eId}).then((response)=>{
                        console.log(response)
                        this.showdeleteBookModal = false
                        location.reload()
                    }).catch((error)=>{
                        console.log(error)
                        this.showdeleteBookModal = false
                    })
                },
                closeInfoModal(){
                    this.showInfoModal = false
                },
                openAddBookModal(){
                    this.showAddBookModal = true;
                },
                closeAddBookModal(){
                    this.showAddBookModal = false
                },
                openModalInfoOrder(order){
                    this.orderInModal = order
                    this.showOrderInfoModal = true
                },
                openModalDeleteOrder(order){
                    this.showdeleteOrderModal = true
                    this.eId = order.orderId
                },
                deleteOrder(){
                    console.log("delete order : " + this.eId)
                    deleteOrder({id : this.eId}).then((response)=>{
                        console.log(response)
                        this.showdeleteOrderModal = false
                        location.reload()
                    }).catch((error)=>{
                        console.log(error)
                        this.showdeleteOrderModal = false
                    })
                },
            },
            created() {
                // this.getAllBooks();
                // this.getAllUsers();
                // this.getAllOrders();
                this.getRole();
            }
        })
    </script>
</body>
</html>